<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Borrando</title>
</head>
<body>
    <h1>Creación de Categorias</h1>

    <form th:action="@{/categorias/save}" method="post">
        <label for="idNombre">Nombre:</label><br>
        <input type="text" id="idNombre" name="nombre"><br>
        <label for="idDescripcion">Descripción:</label><br>
        <input type="text" id="idDescripcion" name="descripcion"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>